@import "variables";
@import "mixins";

.select {
  display: block;
  overflow: visible;
  width: 100%;
  max-width: 100%;
  margin: $block-margin 0;
  white-space: normal;

  @include landscape-phone-and-up {
    text-align: center;
  }

  &__button {
    display: inline-block;
    overflow: hidden;
    width: calc(50% - #{$elem-side-margin * 2});
    margin: $elem-side-margin;
    transition: all $sm-transition;
    border: 1px solid $light;
    border-radius: $elem-border-radius;
    background: $light-gray;

    &:hover {
      background: $light;
      box-shadow: $primary-shadow;
    }

    &.mat-button-toggle-checked {
      border-color: $yellow;
      background: $light;
      box-shadow: $accent-shadow;
    }

    @include landscape-phone-and-up {
      width: calc(33.3333% - #{$elem-side-margin * 2});
    }

    @include landscape-phone-and-up {
      width: 180px;
    }
  }

  &__image {
    display: block;
    width: 120px;
    height: 40px;
    padding: 5px 10px;

    img {
      height: 100%;
    }
  }

  &__text {
    font-weight: 600;
    line-height: 1em;
    display: block;
  }
}

.message {
  width: 100%;
  text-align: center;
  color: $red;

  @include landscape-phone-and-up {
    width: 560px;
    margin: 0 auto;
  }

}
